$blueA: #C7F7FF;
$blueB: #89C0C9;
$blueC: #3a5E63;

$brownA: #C9A689;
$brownB: #7C593C;
    
$greyA: #d4d4d4;
$greyB: #222;
    
$sansserif: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$serif: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

